.counter-main {
    margin: 25px;
}

.counter {
    padding: 20px;
    text-align: center;
    position: relative;
}

.counter .counter-icon {
    display: block;
    font-size: 50px;
    color: #4285F4;
    line-height: 50px;
}

.counter .counter-value {
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    line-height: 70px;
}

.counter .title {
    display: inline-block;
    padding: 10px 15px;
    background: #4285F4;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.counter.red .counter-icon {
    color: #ef5f61;
}

.counter.red .title {
    background: #ef5f61;
}

.counter.green .counter-icon {
    color: #00C851;
}

.counter.green .title {
    background: #00C851;
}