 .post-slide{
    padding-bottom: 10px;
    margin: 0 15px;
    position:relative;
}
.post-slide img{
    width: 100%;
    height: auto;
}
.post-slide .post-date{
    position:absolute;
    top:2%;
    left:8%;
    padding: 3% 5%;
    background: #e74c3c;
}
.post-slide .month{
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    text-transform:uppercase;
}
.post-slide .month:after{
    content:"";
    display: block;
    border:1px solid #fff;
}
.post-slide .date{
    font-size: 14px;
    color:#fff;
    display: block;
    text-align:center;
    font-weight: bold;
}
.post-slide .post-title{
    margin:25px 0 15px 0;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#e74c3c;
}
.post-slide .post-description{
    font-size: 14px;
    line-height:24px;
    color:#808080;
}
.post-slide .read-more{
    color:#333;
    text-transform:capitalize;
    transition: color 0.20s linear;
}
.post-slide .read-more i{
    margin-left:8px;
    font-size:10px;
}
.post-slide .read-more:hover{
    text-decoration:none;
    color:#e74c3c;
}

.post-slide .comments{
    float: right;
    color:#e74c3c;
    text-transform:capitalize;
    transition: color 0.20s linear;
}
.post-slide .comments i{
    margin-left:8px;
}


.post-slide .postviews{
    float: right;
    color:#e74c3c;
    text-transform:capitalize;
    transition: color 0.20s linear;
}
.post-slide .postviews i{
    margin-left:8px;
}


.owl-controls .owl-buttons{
    margin-top:20px;
    position:relative;
}
.owl-controls .owl-prev{
    position: absolute;
    left: -40px;
    bottom: 230px;
    padding: 8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-next{
    position: absolute;
    right: -40px;
    bottom: 230px;
    padding:8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after{
    content:"\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #d3d3d3;
    font-size:16px;
}
.owl-controls .owl-next:after{
    content:"\f054";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover{
    background: #e74c3c;
}
@media only screen and (max-width: 990px) {
    .post-slide{
        margin: 0 20px;
    }
    .owl-controls .owl-buttons .owl-prev{
        left:-20px;
        padding:5px 14px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:-20px;
        padding:5px 14px;
    }
}
@media only screen and (max-width: 767px){
    .owl-controls .owl-buttons .owl-prev{
        left:0px;
        bottom: 260px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:0px;
        bottom: 260px;
    }
}