html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    letter-spacing: 0.5px;
    background: rgba(0, 0, 0, 0);
}

.nav-item{
    padding: 8px;
}
/* .login{
    color: #00C851;

} */

.first {
    padding-top: 140px;
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('../img/csblur.jpg');
    background-position: center;
    /* margin: 3px; */
}

.avatar {
    color: #ffffff;
    /* padding-top: 20vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.arrow{
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* min-height: 100%; */
}

/* hr {
    margin-top: 50px;
    position: relative;
    top: 0;
    border: 0;
    height: 1px;
    width: 40%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

.footer {
    -moz-align-self: -moz-flex-end;
    -webkit-align-self: -webkit-flex-end;
    -ms-align-self: -ms-flex-end;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-align: center;
} */