html {
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;    
    position: relative;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}

/* Side Menu */
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(0, 0, 0, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .sidebar-nav > .sidebar-brand a {
    color: #fff;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
  }
  
  .menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
  }
  
  .menu-toggle:hover {
    background: #343a40;
  }




/* .navbar {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    letter-spacing: 0.5px;
    background: rgba(0, 0, 0, 0);
}

.nav-item{
    padding: 7px;
} */


.first {
    padding-top: 110px;
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('../img/rawpixel-679092-unsplash.jpg');
    background-position: center;
    /* margin: 3px; */
}

.avatar {
    color: #ffffff;
    /* padding-top: 20vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.teamwork{
    background-image: url('/assets/img/teamwork.jpg');
    background-position: center;
    background-size: cover;

}

.arrow{
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* min-height: 100%; */
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: #343a40;
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }

/* hr {
    margin-top: 50px;
    position: relative;
    top: 0;
    border: 0;
    height: 1px;
    width: 40%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

.footer {
    -moz-align-self: -moz-flex-end;
    -webkit-align-self: -webkit-flex-end;
    -ms-align-self: -ms-flex-end;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-align: center;
} */