
  article {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    padding: 1rem;
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .container {
    display: grid;
  }
  
  .left-half {
    background: #ff9e2c;
    grid-column: 1;
  }
  
  .right-half {
    background: #b6701e;
    grid-column: 2;
  }