article {
    /* position: relative;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%); */
    padding: 1rem;
}



/* Pattern styles */

.container {
    display: grid;
}

.left-half {
    /* background: #ff9e2c; */
    grid-column: 1;
}

.right-half {
    
    grid-column: 2;
}

.ri {
    background-image: url('../img/papaioannou-kostas-337812-unsplash.jpg');
    background-position: left;
    background-size: cover;
}

.li {
    background-image: url('../img/teamwork.jpg');
    background-position: left;
    background-size: cover;
}