html{
  height: 100%;
  width: 100%;
}

body{
  position: relative;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  color: white;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
}

.first{
  padding-top: 140px;
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-image: url('../img/Optimized-bg.jpg');
  background-position: center;
}

.link{
  margin-right: 1px;
}

.fa{
  color: #cdcad5;
}

.fa:hover{
  color: white;
}

.avatar{
  /*position: relative;
  margin: auto;
  display: block;
  bottom: 605px;*/
  position: relative;
  display: block;
  height: 100vh;
  min-height: 400px;
}

.rounded-circle{
  border: 2px solid white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

h1{
  margin-bottom: 10px;
}



h3{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.5);
}

.highlight{
  color: #f3f3e5;
}

h6{
  color: rgba(0, 0, 0, 0.4);
}

.key{
  color: rgba(0, 0, 0, 0.3);
}

.social{
  margin: -7px;
}

.content{
  margin: 25px;
}

.progress{
  margin: 10px;
}

.skillbar{
  margin: 10px;
  font-size: 25px;
}

.pull-left{
  float: left;
  padding-left: 3px;
}

.pull-right{
  float: right;
  padding-right: 3px;
}

.green{
  background-color: #66BB6A;
}

.blue{
  background-color: #29B6F6;
}

.yellow{
  background-color: #FFB74D;
}

.red{
  background-color: #e57373;
}

.purple{
  background-color: #B39DDB;
}

.cyan{
  background-color: #CDDC39;
}

hr{
  margin-top: 50px;
  position: relative;
  top: 0;
  border: 0;
  height: 1px;
  width: 40%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black , rgba(0, 0, 0, 0));
}

.footer{
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  background-color: rgba(0,0,0,0);
  color: black;
  text-align: center;
}
